html {
  background-color: #B1CF95;
}
.mainHeading {
  text-align:center;
  font-family: "Eras ITC", "Eras Light ITC", sans-serif;
}

/* Mostly changing margin of most html elements to align to the center of my website */
img {
  margin-top: -12em;
}
.whaleImage {
  margin-right: 24em;
}

.firstimage {
  margin-left: 22em;
  margin-top: -1em;
}

.firstsectiontitles {
  margin-left: 37em;
}

.Introduction {
  margin-left: -0.5em;
  padding-top: 0em;
  width: 8em;
}

.BaleenWhales {
  margin-left: 12em;
  margin-top: 3em;
  width: 53em;
}


.ToothedWhales {
  margin-top: 14em;
}

.Importantstatistics {
  margin-left: 15em;
  margin-bottom: 3em;
  margin-top: 2em;
}

.ToothedWhalesinformation {
  margin-top: -109em;
  margin-left: 40em;
}

.Secondsection {
  margin-top: 7.5em;
  margin-left: 39em;
  margin-right: 7em;
}

.Chartimage {
  margin-top: 34em;
  margin-left: 2em;
}

.Thirdsection {
  margin-left: 22em;
}

.Fourthsection {
  margin-bottom: -24em;
  margin-top: 14em;
  margin-left: -1em;
}

.Firstchart {
  margin-left: 5em;
  margin-bottom:28em;
}

.Thirdtitle {
  margin-left: 13em;
  margin-bottom: 2em;
}


.Status {
  padding-bottom: 20em;
}


/* Got source from https://layout.bradwoods.io/customize
    to generate HTML and CSS layout */
.layout {
  width: 1024px;
  height: 768px;

  display: flex;
  flex-direction: column;
  grid:
    "sidebar body secondbody" 1fr
    / auto 1fr 1fr;
  gap: 8px;
  /* Font is Eras ITC from https://stackoverflow.com/questions/23608504/css-code-for-eras-light-itc */
  font-family: "Eras ITC", "Eras Light ITC", sans-serif;
}

.sidebar { 
    grid-area: sidebar; 
    margin-left: 5em;
}

ul {
  list-style-type: none;
}

li a{
  text-decoration: none;
  color:black;
}
.body { 
  grid-area: body; 
  margin: auto;
  margin-top: 1em;
  margin-left: 5em;
  margin-right: -17em;
  background-color: white;
}


.whaleImage {
  text-align: center;
}

.secondbody { 
  grid-area: secondbody;
  margin: auto;
  margin-left: 5em;
  margin-top: -17em;
  margin-right: -17em;
  background-color: white;
}

.linegraph {
  padding: auto;
}

.Secondtitle {
  margin-left: -17em;
  margin-top: 2em;
}

.Paragraph {
  margin-left:-10em;
}

.Secondchart {
  margin-left: -6em;
  margin-top: -8em;
}

.Context {
  margin-left: 20em;
}

.Contextexplanation {
  padding-left: 20em;
}

.Barchart2 {
  margin-left: 25em;
  margin-top: -8em;
}

.Context1 {
  padding-right: 30em;
}

.Reasonstitle {
  margin-left: -10em;
}

.Explanationfirstchart {
  margin-bottom: 42em;
  margin-right: 17em;
  margin-left: -7em;
  margin-top: -27em;
}




